{% extends "layout.tmpl" %}
{% block body %}

<a href="https://oauth.vk.com/authorize?client_id={{vk_app_id}}&response_type=code&redirect_uri=https://netmyst.ru/callback">
<h1>authorize in vk</h1>
</a>

{% endblock %}
